 <div class="header">
     <div class="container">
         <h1 class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
         <nav class="nav-collapse">
             <ul class="noList">
                 {% for link in site.navigation %}{% assign current = nil %}{% if page.url contains link.url or forloop.first and page.url == '/' or page.url == 'index.html' %}{% assign current = 'current' %}{% endif %}
                 <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                     <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                 </li> 
                 {% endfor %}
                 <li> <a href="https://maf105.github.io/geogebra/">Geogebra</a></li>
                 <li> <a href="https://www.sharelatex.com?r=4468ebc9&rm=d&rs=b">ShareLaTeX</a></li>
                 <li> <a href="https://stackexchange.com/">StackExchange</a></li>
                 <li> <a href="https://db.tt/kSSNkGo5">Dropbox</a></li>
                 <li> <a href="https://veduca.org/">Veduca</a></li>
                 <li> <a href="https://cran.r-project.org/">R</a></li>
                 <li> <a href="https://www.datascienceacademy.com.br/">DSA</a></li>
             </ul>
         </nav>
     </div>
 </div><!-- end .header -->
